@model CRUDwithImage.Models.Product1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.imageUrl)" width="200" height="150"></img>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    <a asp-action="Index">Back to List</a>
</div>
