@model IEnumerable<CRUDwithImage.Models.Product1>

@{
    ViewData["Title"] = "Index";
}

<h1>Product </h1>

<p>
    <a asp-action="Create">Add New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.categoryId) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
               <img src="@Url.Content(item.imageUrl)"width="200" height="150"></img>
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.categoryId) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.productId}) |
                @Html.ActionLink("Details", "Details", new { id=item.productId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.productId })
            </td>
        </tr>
}
    </tbody>
</table>
