
@{
    ViewData["Title"] = "EmpDisplay";
}

<h1>EmpDisplay</h1>

<h1>Employee Data</h1>

<p>
    Name : @ViewBag.Name
</p>
<p>
    Address : @ViewBag.Address
</p>
<p>
    Skills : @ViewBag.skills
</p>
<p>
    Department : @ViewBag.Dept
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
    Education :
    <ol>
        @foreach (string s in ViewBag.Education)
        {
                <li>
                @s
                </li>
        }
    </ol>
</p>
<p>
    City : @ViewBag.City
</p>
