@model IEnumerable<EmplyeeCrudWithImg.Models.Employee1>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee</h1>

<p>
    <a asp-action="Create">Add New Employee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpImage)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.DeptId) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSalary)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.EmpImage) *@
                <img src="@Url.Content(item.EmpImage)" width="200" height="150"></img>
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.DeptId) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EmpId }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmpId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmpId })
            </td>
        </tr>
}
    </tbody>
</table>
